
/* Basic sample */
@media(min-width: 768px) {
	body {
		overflow: hidden;
		margin: 0;
		padding: 0;
		background-image: url('../img/foodTable.jpg');
		background-size: cover;
	}

	.flipbook-viewport {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.flipbook-viewport .container {
		position: absolute;
		top: 50px;
		left: 50%;
		margin: auto;

	}

	.flipbook-viewport .flipbook {
		left: -50%;
		top: 0%
	}
}

@media(max-width: 768px) {
	body {
		overflow: hidden;
		background-color: 4dc971;
		margin: 0;
		padding: 0;
	}

	.flipbook-viewport {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.flipbook-viewport .container {
		position: absolute;
		top: 0%;
		left: 50%;
	}

	.flipbook-viewport .flipbook {
		left: -50%;
		top: 0%
	}

}



/* 공통 사용 */
::-webkit-scrollbar {

	display: none;

}

.flipbook-viewport .page{
	width: carc(50%-1px);;
	height: carc(100%-1px);
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.flipbook .page {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	background-image: url('../img/papper.jpg');
	border: 1px solid #dce0dd;
}

.flipbook-viewport .shadow {
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	-o-box-shadow: 0 0 20px #ccc;
	-ms-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}

/* page_div */
.page_content_odd{
	background-image: url('../img/papper_odd.jpg');
	background-size: cover;
	margin: 0px 0px;
	display: inline-block;
	width: calc(100% - 30px);
	height: 100%;
	float: left;
	overflow-y: scroll;
}
.page_content_even {
	background-image: url('../img/papper_even.jpg');
	background-size: contain;
	margin: 0px 0px;
	display: inline-block;
	width: calc(100% - 30px);
	height: 100%;
	float: right;
	overflow-y: scroll;
}


