/*button_div  */
@media(min-width: 768px) {
	.button_nav_odd {
		margin: 0px 0px;
		display: inline-block;
		width: 30px;
		height: 100%;
	}


	.button_nav_even {
		background-color: pink;
		margin: 0px 0px;
		display: inline-block;
		width: 30px;
		height: 100%;
		writing-mode: vertical-lr
	}

	.button_nav_even button {
		width: 30px;
		height: 60px;
		font-size: 1em;
		writing-mode: vertical-lr
	}

	.button_nav_odd button {
		width: 30px;
		height: 60px;
		font-size: 1em;
		writing-mode: vertical-lr
	}


}


/* button -even */

.selectICon_div {
	text-align: center;
	width: 25%;
	float: right;
	padding-bottom: 10px;
}

/*첫 페이지 */
.title_head {
	height: 20%;
	margin: 0% auto;
}

.title_main {
	position: relative;
	width: 25%;
	/* 원하는 너비 */
	min-width: 100px;
	margin: 0% auto;
}

.title_main:before {
	content: "";
	display: block;
	padding-top: 130%;
	/* 1:1 비율 */
}

.title_content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 4px solid skyblue;
}

.title_info {
	width: 30%;
	min-width: 100px;
	margin: 0px auto;
	text-align: center;
}


.title_footter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: right;
}


/* 페이지 00 */
.term_container {
	overflow: scroll;
	margin: 2% 2%;
	font-size: 0.8rem;
	width: 96%;
	height: 30%;
}

/* 06~ 페이지 임시 저장 */
.page_container {
	width: 90%;
	height: 85%;
	margin: 0% auto 2% auto;
	overflow-y: scroll;
}

.page_title_container {
	width: 100%;
	min-height: 10%;
}

.page_title_container_div {

	margin: 3% auto;
	margin-bottom: 2%;

	text-align: center;
	width: 90%;
	min-height: 90%
}

.page_title_container_div h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 2.7rem;
}

/* 06페이지 */
.alert {
	font-size: 0.5rem;
	width: 80%;
	float: left;
}

.checkListBtn_Div {
	float: left;
	width: 20%;
	height: 50px;
	text-align: center;
}

.checkListBtn_Div .btn {
	height: 50px;

}

.checkListBtn_Div .row {
	width: 100%;
}

/* 07페이지 */
.comment_body_container {
	width: 100%;

}

.comment_container {
	width: 90%;
	height: 73%;
	margin: 0% auto 2% auto;
	overflow-y: scroll;
}

.write-coment-container {
	margin: auto;
	width: 90%;
	height: 10%;
}

.card {
	width: 90%;
	margin: 0px auto;

}

.card-body {
	padding: 1rem;
}

.card-header {
	padding: .3rem 1rem;
}