.tm-content-row {
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}

.tm-col-account-settings {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.info_div{
	height: 100%;
}

.carousel-item{
	height: 100%;
}
.carousel-inner{
	height: 100%;
}
.carousel{
		height: 100%;
}



	 	body {
 		}
 		.no-js {
 			display: none;
 		}
 		.info_list{
			width: 100%;
		}
		.labels tr td {
			background-color: #68de9240;
			font-weight: bold;
			color: #fff;
		}

		.label tr td label {
			display: block;
		}

		[data-toggle="toggle"] {
			display: none;
		}
 		thead {
		    background-color: #498879ad;
		    color: #fff;
		}