	 	body {
 		}
 		.no-js {
 			display: none;
 		}
 		.info_list{
			width: 100%;
		}
		.labels tr td {
			background-color: #4fe153;
			font-weight: bold;
			color: #fff;
		}

		.label tr td label {
			display: block;
		}

		[data-toggle="toggle"] {
			display: none;
		}
 		
	thead {
	    background-color: #153061bf;
	    color: #fff;
	}