<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sesoc.secret.dao.DisposalMapper">
	<select id="disposalList" resultType="DisposalListVO">
		SELECT
			d.dSerialNumber,
			m.mClass,
			s.location,
			s.sName,
			e.userName,
			e.rank,
			d.dAmount,
			d.dDate
		FROM
			Disposal d INNER JOIN SubClass s ON d.scSerialNumber = s.scSerialNumber
            INNER JOIN Employee e ON d.userid = e.userid
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
	</select>
	<select id="disposalListOneDay" parameterType="DisposalListVO" resultType="DisposalListVO">
		SELECT
			d.dSerialNumber,
			m.mClass,
			s.location,
			s.sName,
			e.userName,
			e.rank,
			d.dAmount,
			d.dDate
		FROM
			Disposal d INNER JOIN SubClass s ON d.scSerialNumber = s.scSerialNumber
            INNER JOIN Employee e ON d.userid = e.userid
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
        WHERE
        dDate = #{dDate}
	</select>	
	
	<select id="disposalAmountPieChart1" parameterType="DisposalListVO" resultType="DisposalListVO">
		SELECT
			m.mClass,
			s.location,
			s.sName,
			sum(d.dAmount) As dAmount
		FROM
			Disposal d INNER JOIN SubClass s ON d.scSerialNumber = s.scSerialNumber
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
        WHERE
        dDate = #{dDate}
         GROUP BY 	m.mClass,s.location,s.sName 
	</select>		
</mapper>