<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sesoc.secret.dao.EmployeeMapper">
<insert id="insert" parameterType="Employee_VO">
		INSERT INTO Employee
		(
			userid,
			userpwd,
			eImg,
			userName,
			rank,
			email,
			ePhone,
			status
		)
		VALUES
		(
			#{userid},
			#{userpwd},
			#{eImg},
			#{userName},
			#{rank},
			#{email},
			#{ePhone}
			<if test="status == null">
			,'現職'
			</if>
		)
	</insert>
	
	<select id="selectone" parameterType="Employee_VO" resultType="Employee_VO">
	select
		*
	from
		Employee
	where userid = #{userid}
	<if test="userpwd != null">
		and userpwd = #{userpwd}
	</if>
	</select>
</mapper>