<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sesoc.secret.dao.GraphMapper">
	<select id="graphList" resultType="GraphVO">
		SELECT
            s.price * u.uAmount AS useprice,
            s.price * d.dAmount AS disposalprice,
			TO_CHAR(u.uDate, 'MM') AS mdate
		FROM
			Uses u INNER JOIN SubClass s ON u.scSerialNumber = s.scSerialNumber
            INNER JOIN Disposal d ON d.scSerialNumber = s.scSerialNumber
	</select>
</mapper>