<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sesoc.secret.dao.StockMapper">

	<select id="subLoad" resultType="SubClassVO">
		select
			 *
		from
			SUBCLASS
		order by SCSERIALNUMBER asc
	</select>
	<select id="subSelect" resultType="SubClassVO" parameterType="String">
		select
			 *
		from
			SUBCLASS
		where
			SCSERIALNUMBER = #{scSerialNumber}
		
	</select>
	<select id="empLoad" resultType="Employee_VO">
		select
			 *
		from
			EMPLOYEE
		order by RANK asc
	</select>
	
	<select id="accLoad" resultType="AccountVO">
		select
			 *
		from
			ACCOUNT
		order by ACCOUNTNAME asc
	</select>
	
	<insert id="insertRec" parameterType="ReceiptVO">
		INSERT INTO RECEIPT
		(
		rSerialNumber,
		scSerialNumber,
		userid,
		rAmount,
		rDate,
		rComment,
		accountserial
		)
		VALUES
		(
		re_seq.nextval,
		#{scSerialNumber},
		#{userid},
		#{rAmount},
		sysdate,
		#{rComment},
		#{accountserial}
		)
	</insert>
	
	<insert id="insertSt" parameterType="StockVO">
		INSERT INTO STOCK
		(
		sSerialNumber,
		scSerialNumber,
		userid,
		sDate,
		deDate,
		SAMOUNT
		)
		VALUES
		(
		stock_seq.nextval,
		#{scSerialNumber},
		#{userid},
		sysdate,
		sysdate + #{deDate},
		#{sAmount}
		)
	</insert>
	<select id="selectStockAsLocation" parameterType="SubClassVO" resultType="StockInfoVO">
		select
			st.SCSERIALNUMBER,
			su.sname
			From Stock  st join subclass  su on St.SCSERIALNUMBER = su.SCSERIALNUMBER
			where
			 location = 2
			 group by st.SCSERIALNUMBER,su.sname
	</select>
	<select id="selectStockDetail" parameterType="StockInfoVO" resultType="StockDetailVO">
		 select
			 st.sSerialNumber,
			 su.sname,
			 st.SCSERIALNUMBER,
			 st.SAMOUNT,
			 re.RAMOUNT,
			 st.SDATE,
			 st.DEDATE,
			 su.UNIT,
			 mc.MCLASS
		 from
			 stock st join subclass su on St.SCSERIALNUMBER = su.SCSERIALNUMBER
			 join  receipt re on St.SCSERIALNUMBER =  re.SCSERIALNUMBER
			 join mainclass mc on su.MCSERIALNUMBER = mc.MCSERIALNUMBER
		 where
		 	 st.SCSERIALNUMBER = #{scSerialNumber}
	</select>	
</mapper>