<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sesoc.secret.dao.SubClassMapper">
<select id="selectMainClassList" resultType="MainClassVO">
	select
		 MCSERIALNUMBER,
		 MCLASS
	from
		MAINCLASS
	order by MCSERIALNUMBER asc
</select>
	
<insert id="insert" parameterType="SubClassVO">
	insert into SubClass
	(
		scSerialNumber
		,mcserialNumber
		,foodCode
		,sImg
		,sName
		,unit
		,price
		,location
		,eDate
	)
	values
	(
		sb_seq.nextval
		,#{mcserialNumber}
		,rpad(ABS(dbms_random.random),2)||'-'||rpad(ABS(dbms_random.random),3)
		,#{sImg}
		,#{sName}
		,#{unit}
		,#{price}
		,#{location}
		,#{eDate}
	)	
	</insert>
</mapper>