<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sesoc.secret.dao.UsedMapper">
	<select id="usedList" resultType="UsedListVO">
		SELECT
			u.uSerialNumber,
			m.mClass,
			s.location,
			s.sName,
			e.userName,
			e.rank,
			u.uAmount,
			TO_CHAR(u.uDate,'yyyy-MM-dd') AS udate
		FROM
			Uses u INNER JOIN SubClass s ON u.scSerialNumber = s.scSerialNumber
            INNER JOIN Employee e ON u.userid = e.userid
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
	</select>

	<select id="usedListOneDay" parameterType="UsedListVO" resultType="UsedListVO">
		SELECT
			u.uSerialNumber,
			m.mClass,
			s.location,
			s.sName,
			e.userName,
			e.rank,
			u.uAmount,
			TO_CHAR(u.uDate,'yyyy-MM-dd') AS udate
		FROM
			Uses u INNER JOIN SubClass s ON u.scSerialNumber = s.scSerialNumber
            INNER JOIN Employee e ON u.userid = e.userid
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
		WHERE
			TO_CHAR(uDate,'yyyy-MM-dd') = #{uDate}
	</select>
	
	<select id="usdeAmountPieChart" parameterType="UsedListVO" resultType="UsedListVO">
		SELECT
			m.mClass,
			sum(u.uAmount) As uAmount
		FROM
			Uses u INNER JOIN SubClass s ON u.scSerialNumber = s.scSerialNumber
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
        WHERE
        TO_CHAR(uDate,'yyyy-MM-dd') =  #{uDate}
        GROUP BY 	m.mClass
	</select>
	
	<select id="whoUsedPieChart" parameterType="UsesVO" resultType="UsesVO">
		SELECT
            userid,
            sum(uAmount) AS uAmount
		FROM
			Uses
        WHERE
            TO_CHAR(uDate,'yyyy-MM-dd') = #{uDate}
        GROUP BY 
            userid
	</select>
	
	<select id="materialChart1" parameterType="UsedListVO" resultType="UsedListVO">
		SELECT
			m.mClass,
			s.location,
			s.sName,
			sum(u.uAmount) As uAmount
		FROM
			Uses u INNER JOIN SubClass s ON u.scSerialNumber = s.scSerialNumber
			INNER JOIN MainClass m ON s.mcSerialNumber = m.mcSerialNumber
        WHERE
        TO_CHAR(uDate,'yyyy-MM-dd') =  #{uDate}
        GROUP BY 	m.mClass,s.location,s.sName
	</select>

</mapper>